@import url("https://fonts.googleapis.com/css?family=Noto+Serif&display=swap");

html {
  scroll-behavior: smooth;
  width: 100vw;
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Noto Serif", serif;
  .wrapper {
    width: 100vw;
    .header {
      height: 85vh;
      // background-color: pink;
      position: relative;
      top: 0;
      left: 0;
      background-image: url("img/skog.jpg");
      background-position: 60% 70%;
      background-size: cover;
      overflow: hidden;
      text-align: center;
      h1 {
        position: absolute;
        top: 70vh;
        left: 5vw;
        color: white;
        letter-spacing: 3px;
        font-size: 6vh;
        font-weight: normal;
      }
    }
    .aboutme {
      height: 80vh;
      position: absolute;
      top: 5vh;
      background-color: green;
      width: 90vw;
      left: 110vw;
    }
    .bar {
      position: relative;
      top: 80vh;
      display: flex;
      z-index: 3;
      top: 0;
      left: 0;
      height: 15vh;
      width: 100vw;
      color: white;
      div {
        flex: 1 0 auto;
        background-color: black;
        p {
          font-size: 5vh;
          border: none;
          color: #888;
          transition: 0.4s;
          cursor: pointer;
          letter-spacing: 3px;
          text-align: center;
        }
        p:hover {
          letter-spacing: 0;
          color: white;
        }
      }
    }
    .page {
      position: relative;
      top: 0;
      background-color: black;
      .up {
        position: sticky;
        top: 80vh;
        left: 90vw;
        border-radius: 50%;
        font-size: 5vh;
        border: 5px solid #888;
        background-color: black;

        color: #888;
        height: 10vh;
        width: 10vh;
        cursor: pointer;
        transition: 0.3s;
        z-index: 2;
        animation: arrowpulse 2s infinite linear;
      }
      button:hover {
        color: white;
        font-size: 6vh;
        border: 4px solid white;
      }

      .blog {
        height: 100vh;
        background-image: url(img/blog.jpg);
        margin: 15vh 0;
        color: white;
        text-align: center;
        font-size: 1.5vh;
        .overlay {
          background: rgba(0, 0, 0, 0.9);
          height: 100%;
        }
        .title {
          animation: pulse 5s infinite linear;
          font-size: 7vh;
          text-align: left;
          padding: 6vh;
          margin: 0;
          letter-spacing: 3px;
        }
        .articles {
          display: flex;
          flex-direction: row-reverse;
          .article {
            width: 30vw;
            margin: 2vh 2vw;
            // background-color: red;

            .image {
              margin: 0 auto;
              height: 35vh;
              width: 25vw;
              border: 2px solid black;
              border-radius: 1vw;
              overflow: hidden;
              position: relative;
              background-color: black;
              h1 {
                font-size: 5vh;
                letter-spacing: 3px;
                animation: none;
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                padding: 1vw;
                transition: 0.1s;
                h1 {
                  font-size: 0;
                  transition: 0.1s;
                  text-transform: uppercase;
                }
              }
              a {
                font-size: 0;
              }
              img {
                height: 100%;
                width: 100%;
                transition: 0.1s;
                opacity: 0.1;
              }
            }
            .image:hover {
              img {
                height: 120%;
                width: 120%;
                opacity: 0.4;
              }
              h1 {
                font-size: 0;
                h1 {
                  font-size: 9vh;
                }
              }
            }
            p {
              font-size: 2.5vh;
            }
          }
        }
        .archive {
          color: white;
          text-decoration: none;
          transition: 0.3s;
        }
        .archive:hover {
          color: olivedrab;
          letter-spacing: 0;
        }
      }
      .projects {
        height: 100vh;
        background-image: url(img/coding.jpg);
        margin: 15vh 0;
        color: white;
        text-align: center;
        font-size: 1.5vh;
        .overlay {
          background: rgba(0, 0, 0, 0.9);
          height: 100%;
        }
        .title {
          animation: pulse 5s infinite linear;
          font-size: 7vh;
          text-align: left;
          padding: 6vh;
          margin: 0;
          letter-spacing: 3px;
        }
        .previews {
          display: flex;
          flex-direction: row;
          .project {
            width: 30vw;
            margin: 2vh 2vw;
            // background-color: red;

            .image {
              margin: 0 auto;
              height: 35vh;
              width: 25vw;
              border: 2px solid black;
              border-radius: 1vw;
              overflow: hidden;
              position: relative;
              background-color: black;
              h1 {
                font-size: 5vh;
                letter-spacing: 3px;
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                padding: 1vw;
                transition: 0.1s;
                animation: none;
                h1 {
                  font-size: 0;
                  transition: 0.1s;
                  text-transform: uppercase;
                }
              }
              a {
                font-size: 0;
              }
              img {
                height: 100%;
                width: 100%;
                transition: 0.1s;
                opacity: 0.1;
              }
            }
            .image:hover {
              img {
                height: 120%;
                width: 120%;
                opacity: 0.4;
              }
              h1 {
                font-size: 0;
                h1 {
                  font-size: 6vh;
                }
              }
            }
            p {
              font-size: 2.5vh;
            }
          }
        }
        .archive {
          color: white;
          text-decoration: none;
          transition: 0.3s;
        }
        .archive:hover {
          color: olivedrab;
          letter-spacing: 0;
        }
      }
      .contact {
        height: 100vh;
        background-color: green;
        margin: 15vh 0;
      }
    }
  }
}

@keyframes pulse {
  0% {
    letter-spacing: 0;
  }
  50% {
    letter-spacing: 3px;
  }
  100% {
    letter-spacing: 0;
  }
}

@keyframes arrowpulse {
  0% {
    font-size: 5vh;
  }
  40% {
    font-size: 5vh;
  }
  50% {
    font-size: 6vh;
  }
  60% {
    font-size: 5vh;
  }
  100% {
    font-size: 5vh;
  }
}
